<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd">
	<context:component-scan base-package="org.springframework.zpr.bean" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
	</context:component-scan>
	<bean id="constructorBean" class="org.springframework.zpr.bean.ConstructorBean">
		<constructor-arg name="pro1" value="1"/>
		<constructor-arg name="pro2" value="2"/>
	</bean>
	<bean id="factoryMethodCreateBean"
		  name="factoryMethodCreateBean"
		  class="org.springframework.zpr.bean.FactoryMethodCreateBean"/>
	<bean id="factoryMethodBean" name="factoryMethodBean"
		  class="org.springframework.zpr.bean.FactoryMethodBean"
		  factory-bean="factoryMethodCreateBean" factory-method="getFactoryMethodBean"/>

</beans>